* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.top-nav {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: #2b2b2b;
    color: white;   
}

.top-left-navigation {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 20px;
    margin-top: 15px;
}

.top-right-navigation {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-right: 20px;
}

.main-page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    background-color: #efefef;
}

h1 {
    width: 100%;
    padding-left: 55px;
    height: 70px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #efefef;
}

.full-card {
    height: 400px;
    width: 300px;
    margin: 15px;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 30%);
}

ul li{
    list-style: none;
}

.grey-style-icon {
    color: #999999;
}

.pizza-icons,
.menu-icons,
.video-icons {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}

h4,
.share {
    margin-left: 10px;
}

.menu-icons {
    margin-left: 45px;
}

.admin-login-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.admin-username {
    margin-left: 10px;
    margin-right: 10px;
    color: #25b3fa;
}

.logo {
    height: 110px;
    width: 180px;
}

.top-card-section1 {
    width: 100%;
    height: 40%;
}

.bottom-card-section1 {
    width: 100%;
    background-color: #ffffff;
    padding-top: 10px;
    height: 57%;
}

.card-img1,
.card-img2, 
.card-img3,
.card-img4,
.card-img5,
.card-img6 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.card-img1 {
    background-image: url(assets/classy-leo.jpg);
    background-size: cover;
}

.card-img2 {
    background-image: url(assets/classy-raphael.jpg);
    background-size: cover;
}

.card-img3 {
    background-image: url(assets/classy-donatello.jpg);
    background-size: cover;
}

.card-img4 {
    background-image: url(assets/classy-michelangelo.jpg);
    background-size: cover;
}

.card-img5 {
    background-image: url(assets/masterSplinter.jpg);
    background-size: cover;
}

.card-img6 {
    background-image: url(assets/casey_jones.jpg);
    background-size: cover;
}




.card-views1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 50px;
}

h2 {
    padding:0%;
    margin: 0%;
}

p {
    padding:0%;
    margin: 0%; 
}

.button-container {
    margin-top: 15px;
    width: 20%;
    display: flex;
    border: 0;
    margin-right: 73%;
    background: 0;
}

.turtle-name,
.character-info1,
.character-color,
.character-weapon {
    margin-left: 10px;
    margin-bottom: 20px;
}

.views,
.view-count {
    color: #ffffff;
}
